{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load ratings %}


{% block title %}
    home
{% endblock %}


{% block content %}
    <!-- Slider Area -->
    <section class="slider-area">
        <ul class="owl-carousel owl-slider">
            {% for slider in sliders %}
                <li class="item">{% thumbnail slider.image '1920x600' crop='center' as im %}
                    <a href="{{ slider.url }}">
                        <img src="{{ im.url }}" alt=""/>
                    </a>
                {% endthumbnail %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- End Slider Area -->

    <!-- Start Featured Product -->
    <section class="home-product-style-1">
        <div class="container">
            <h3 class="section-title style2 text-center"><span>Featured Products</span></h3>
            <div class="row">

                {% for product in products %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs">
                        <!-- Start Single Product -->
                        <div class="single-product mt30">
                            <div class="product-image">
                                {% thumbnail product.image '204x204' crop='center' as im %}
                                    <img src="{{ im.url }}" alt="" class="img-fluid d-block">
                                {% endthumbnail %}
                                {% if product.discount %}
                                    <span class="product-sale">-{{ product.discount }}%</span>
                                {% endif %}
                                <a href="{{ product.get_absolute_url }}" class="custom-btn">
                                    <div class="btn-icon"><i class="bi bi-cart-check"></i> detail</div>
                                </a>
                            </div>
                            <div class="product-info">
                                <span class="category"><a
                                        href="{% url 'brand_url_page' brand=product.brand.url_title %}">{{ product.brand }}</a></span>
                                <h4 class="title">
                                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                </h4>
                                <ul class="list-inline product-review">
                                    <li>{% ratings product %}</li>
                                </ul>
                                <div class="price">
                                    {% if product.discount %}
                                        <span>${{ product.result_total_price }}.00</span>
                                        <span class="discount-price">${{ product.price }}.00</span>
                                    {% else %}
                                        <span>${{ product.price }}.00</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Banner -->
    <section class="home-main-contant-style2">
        <div class="container">
            <div class="row">
                {% for banner in banners %}
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs">
                        <div class="banner rounded">
                            <a href="javascript:void(0)">
                                <div class="banner-img">
                                    {% thumbnail banner.image '540x200' crop='center' as im %}
                                        <img src="{{ im.url }}" alt="" class="img-fluid d-block">
                                    {% endthumbnail %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End Banner -->

    <!-- Start Cat Product -->
    <section class="home-main-contant-style lookbook-style">
        <div class="container">
            <div class="headline"><h3>sort rating</h3></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="lookbook-product-style">
                        <div class="lookbook-cat owl-carousel owl-theme">
                            {% for product in product_more_rating %}
                                <div class="item">
                                    <!-- Start Single Product -->
                                    <div class="single-product">
                                        <div class="product-image">
                                            {% thumbnail product.image '354x354' crop='center' as im %}
                                                <img src="{{ im.url }}" alt="" class="img-fluid d-block">
                                            {% endthumbnail %}
                                            {% if product.discount %}
                                                <span class="product-sale">-{{ product.discount }}%</span>
                                            {% endif %}
                                            <a href="{{ product.get_absolute_url }}" class="custom-btn">
                                                <div class="btn-icon"><i class="bi bi-cart-check"></i> detail</div>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <span class="category"><a
                                                    href="{% url 'brand_url_page' brand=product.brand.url_title %}">{{ product.brand }}</a></span>
                                            <h4 class="title">
                                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                            </h4>
                                            <ul class="list-inline product-review">
                                                <li>{% ratings product %}</li>
                                            </ul>
                                            <div class="price">
                                                {% if product.discount %}
                                                    <span>${{ product.result_total_price }}.00</span>
                                                    <span class="discount-price">${{ product.price }}.00</span>
                                                {% else %}
                                                    <span>${{ product.price }}.00</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Cat Product -->

    <!-- Start Cat Product -->
    <section class="home-main-contant-style3 lookbook-style">
        <div class="container">
            <div class="headline"><h3>offers</h3></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="lookbook-product-style">
                        <div class="lookbook-cat owl-carousel owl-theme">
                            {% for product in product_discount %}
                                <div class="item">
                                    <!-- Start Single Product -->
                                    <div class="single-product">
                                        <div class="product-image">
                                            {% thumbnail product.image '354x354' crop='center' as im %}
                                                <img src="{{ im.url }}" alt="" class="img-fluid d-block">
                                            {% endthumbnail %}
                                            <span class="product-sale">{{ product.discount }}%</span>
                                            <a href="{{ product.get_absolute_url }}" class="custom-btn">
                                                <div class="btn-icon"><i class="bi bi-cart-check"></i>detail</div>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <span class="category"><a
                                                    href="{% url 'brand_url_page' brand=product.brand.url_title %}">{{ product.brand }}</a></span>
                                            <h4 class="title">
                                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                            </h4>
                                            <ul class="list-inline product-review">
                                                {% ratings product %}
                                            </ul>
                                            <div class="price">
                                                <span>${{ product.result_total_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- End Cat Product -->

    <!--Start Blog -->
    <section class="clearfix  home-main-contant-style3 blog-slider-block">
        <div class="container">
            <div class="headline"><h3>Latest News</h3></div>
            <div class="blog-slider owl-carousel">
                {% for blog in blogs %}
                    <div class="item">
                        <div class="image_blog">
                            <div class="post-image">
                                {% thumbnail blog.image '367x190' crop='center' as im %}
                                    <img alt="" src="{{ im.url }}" class="img-fluid d-block">
                                {% endthumbnail %}
                            </div>
                            <div class="img_blog_text">
                                <a href="{{ blog.get_absolute_url }}"><h2>{{ blog.title }}</h2></a>
                                <div class="blog-meta">
                                    <span class="blog-date"><i
                                            class="bi bi-calendar3"></i>{{ blog.date | timesince }}</span>
                                    <span class="blog-comments"><i
                                            class="bi bi-chat"></i> {{ blog.article_comment.count }} Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--End Blog -->

    <section class="parallax-shop-1">
        <div class="container">
            <div class="brand-slider owl-carousel">
                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-1.jpg" class="img-fluid d-block">
                </div>
                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-2.jpg" class="img-fluid d-block">
                </div>
                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-3.jpg" class="img-fluid d-block">
                </div>
                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-4.jpg" class="img-fluid d-block">
                </div>
                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-1.jpg" class="img-fluid d-block">
                </div>

                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-2.jpg" class="img-fluid d-block">
                </div>

                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-3.jpg" class="img-fluid d-block">
                </div>

                <div class="item">
                    <img alt="" src="/static/img/shop/category/cat-4.jpg" class="img-fluid d-block">
                </div>
            </div>
        </div>
    </section>

    <div class="cd-heading-arrow heading-title heading-arrow-top"></div>

{% endblock %}

