{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load render_partial %}


{% block title %}
    blog
{% endblock %}


{% block content %}
    <section class="page-heading-2">
        <div class="container">
            <div class="breadcrumb text-center text-white">
                <h1 class="page-title">Blog</h1>
                <a href="{% url 'home-page' %}">Home</a>
                <span class="delimeter"> &gt; </span>
                <span class="current">Blog</span>
            </div>
        </div>
    </section>

    <div class="main-contain">
        <div class="container">
            <div class="row">
                <div class="xxl-9 col-xl-9 col-lg-9 col-md-7 col-sm-7 col-xs">

                    {% for article in object_list %}
                        <div class="item mb30">
                            <div class="image_blog">
                                <div class="post-image">
                                    {% thumbnail article.image '1160x600' crop='center' as im %}
                                        <img src="{{ im.url }}" class="img-fluid d-block">
                                    {% endthumbnail %}
                                </div>
                                <div class="img_blog_text">
                                    <a href="{{ article.get_absolute_url }}"><h2>{{ article.title }}</h2></a>
                                    <div class="blog-meta">
                                        <span class="blog-date"><i class="bi bi-calendar3"></i>{{ article.date | timesince }}</span>
                                        <span class="blog-comments"><i class="bi bi-chat"></i> {{ article.article_comment.count }} Comments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Start Pagination-->
                    <div class="cd-pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"
                                                                                           aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                            {% for pageNumber in paginator.page_range %}
                                <li class="{% if page_obj.number == pageNumber %} active {% endif %}"><a
                                        href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"
                                                                                       aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- End Pagination-->
                </div>
                {% render_partial 'blog.views.sidebar_blog_component' %}
            </div>
        </div>
    </div>
{% endblock %}