{% extends 'shared/layout.html' %}
{% load ratings %}
{% load thumbnail %}

{% block title %}
    detail
{% endblock %}


{% block content %}
    <div class="main-contain">
        <section class="shop-product">
            <div class="container">
                <div class="row">
                    <!--Image Block-->
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">

                        <!-- Big Image and Zoom -->
                        <div class="big-image-style">
                            <div class="big-image" itemtype="https://schema.org/Product" itemscope="">

                                <a class="mp-lightbox cd-lightbox-image cd-lightbox-image"
                                   href="{{ product.image.url }}">
                                    <img id="product-image" class="img-fluid d-block"
                                         src="{{ product.image.url }}"
                                         data-zoom-image="{{ product.image.url }}" alt="big image">
                                    {% if product.discount %}
                                        <span class="new-tag">-{{ product.discount }}%</span>
                                    {% endif %}
                                </a>
                            </div>
                        </div>

                        <!-- Small Images -->

                        <div class="thumbs" id="thumbs">
                            <div class="flexslider" id="main_thumbs">
                                <div class="flex-viewport">

                                </div>
                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 1600%; margin-left: 0px;">
                                        {% for image in product.images.all %}
                                            <li style="width: 80px; margin-right: 10px; float: left; display: block;"><a
                                                    href="#a" data-image="{{ image.image.url }}"
                                                    data-zoom-image="{{ image.image.url }}"
                                                    class="elevatezoom-gallery active"><img class="img-fluid d-block"
                                                                                            src="{{ image.image.url }}"
                                                                                            alt="small image"
                                                                                            draggable="false"></a></li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <ul class="flex-direction-nav">
                                    <li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- end: Small Images -->


                        <!-- end: Big Image and Zoom -->

                    </div>
                    <!--Image Block-->
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                        <!-- START Breadcumb -->
                        <section class="page-heading">
                            <div class="breadcrumb">
                                <a href="{% url 'home-page' %}">Home </a>
                                <span class="delimeter"><i class="bi bi-chevron-right"></i></span>
                                {% for category in product.category.all %}
                                    {% if product.parents %}
                                        <span class="current">{{ category.title }}</span>
                                    {% endif %}
                                {% endfor %}
                                <span class="delimeter"><i class="bi bi-chevron-right"></i></span>
                                <span class="current">{{ product.title }}</span>
                            </div>

                        </section>
                        <!-- END Breadcumb -->
                        <div class="shop-product-heading">
                            <h2>{{ product.title }}</h2>
                        </div>

                        <ul class="list-inline product-ratings mb15">
                            <li>{% ratings product %}</li>
                        </ul>

                        <ul class="product-meta mb15">
                            <li>Manufacturer : <a
                                    href="{% url 'brand_url_page' brand=product.brand.url_title %}">{{ product.brand }}</a>
                            </li>
                            <li class="product-meta-availability">Availability :
                                {% if product.availability %}
                                    <span class="text-success">In Stock </span> {{ product.availability }} items(s)
                                {% else %}
                                    <span class="text-warning">Not available </span>
                                {% endif %}
                            </li>
                            <li>Product Code : {{ product.id }}</li>
                        </ul>

                        <p class="mb15">
                            {{ product.short_body | safe }}
                        </p>
                        <form method="post" action="{% url 'add-product-cart' pk=product.id %}">
                            {% csrf_token %}
                            <div class="product-filter-content advanced_search mb30">
                                <ul class="view-mode">
                                    <h3 class="shop-product-title">Size</h3>
                                    <li class="search_select">
                                        <div class="nice-select s_select" tabindex="0">
                                            <span class="current">Choose Your Size</span>
                                            <select name="size" class="list">
                                                {% for size in product.size.all %}
                                                    <option name="size" value="{{ size.name }}"
                                                            class="option">{{ size.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="product-filter-content advanced_search mb30">
                                <ul class="view-mode">
                                    <h3 class="shop-product-title">color</h3>
                                    <li class="search_select">
                                        <div class="nice-select s_select" tabindex="0">
                                            <span class="current">Choose Your color</span>
                                            <select name="color" class="list">
                                                {% for color in product.color.all %}
                                                    <option name="color" value="{{ color.name }}"
                                                            class="option">{{ color.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="qty-addcart">
                                <ul class="list-inline shop-product-prices mb30">
                                    {% if product.discount %}
                                        <li class="shop-red">${{ product.result_total_price }}.00</li>
                                    {% else %}
                                        <li class="shop-red">${{ product.price }}.00</li>
                                    {% endif %}
                                </ul>

                                <div class="quantity quantity-txt quantity-inp">
                                    <button type="button" class="qty qtyminus">-</button>
                                    <input type="text" class="quantity-input quantity-field"
                                           name="p_quantity" min="1" value="1">
                                    <button type="button" class="quantity-txt qty qtyplus">+</button>
                                </div>

                                <button type="submit" class="custom-btn ml15">Add to Cart</button>
                            </div>
                        </form>
                        <br>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div class="represent mb30">
                            <div class="item_represent">
                                <i class="bi bi-truck"></i>
                                <div class="description">
                                    <span>FREE SHIPPING</span>
                                    <small>Free shipping on all orders</small>
                                </div>
                            </div>
                            <div class="item_represent">
                                <i class="bi bi-cash"></i>
                                <div class="description">
                                    <span>MONEY BACK GUARANTEE</span>
                                    <small>100% money back guarantee.</small>
                                </div>
                            </div>

                            <div class="item_represent">
                                <i class="bi bi-shield-lock"></i>
                                <div class="description">
                                    <span>SAFE &amp; SECURE</span>
                                    <small>Lorem ipsum dolor sit amet</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Start Home Product -->
        <section class="home-main-contant-style2 tab-style shop-product-tab home-work-pro-tab">
            <div class="container">
                <div class="main-title-wrapper clearfix">
                    <div class="main-title">
                        <ul class="nav nav-tabs style1" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">DESCRIPTION
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                        type="button" role="tab" aria-controls="contact" aria-selected="false">Comments
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h5 class="mb10">Product Full Description</h5>
                        <p class="mb15">
                            {{ product.body | safe }}
                        </p>

                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {% if request.user.is_authenticated %}
                            <form method="post" name="contact-form" id="ContactForm" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <input type="hidden" id="parent_id" value="" name="parent_id">
                                            <div class="form-group">
                                                <textarea class="form-control" id="InputMessage" name="body"
                                                          placeholder="Enter comment"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <button class="custom-btn" type="submit">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <p class="alert alert-danger">Only logged in users can comment.</p>
                        {% endif %}
                        <br>
                        {% for comment in product.product_comment.all %}
                            {% if not comment.parent %}
                                <div class="comments">
                                    <div class="comment-content">
                                        <p>
                                            {{ comment.body }}
                                        </p>
                                        <a onclick="setReply({{ comment.id }})" class="custom-btn btn-comment-reply">Reply</a>
                                        <cite>{{ comment.user }}</cite><br>
                                        <cite>{{ comment.created | timesince }} - ago</cite>
                                    </div>
                                </div>
                            {% endif %}
                            {% for reply in comment.replies.all %}
                                <div class="comments m-lg-5">
                                    <div class="comment-content">
                                        <p>
                                            {{ reply.body }}
                                        </p><br>
                                        <cite>{{ reply.user }}</cite><br>
                                        <cite>{{ reply.created | timesince }} - ago</cite>
                                    </div>
                                </div>
                            {% endfor %}
                        {% empty %}
                            <p>no comment yet</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!-- End Product -->

        <!-- Start Home Product -->
        <section class="home-main-contant-style2 lookbook-style">
            <div class="container">
                <div class="headline"><h3>Related Product</h3></div>
                <div class="lookbook-product-style">
                    <div class="related owl-carousel owl-theme owl-loaded owl-drag">


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3950px;">
                                {% for product in related_product %}
                                <div class="owl-item" style="width: 365px; margin-right: 30px;">
                                    <div class="item">
                                        <!-- Start Single Product -->
                                        <div class="single-product mt30">
                                            <div class="product-image">
                                                {% thumbnail product.image '325x325' crop='center' as im %}
                                                <img src="{{ im.url }}" alt=""
                                                     class="img-fluid d-block">
                                                {% endthumbnail %}
                                                {% if product.discount %}
                                                <span class="product-sale">{{ product.discount }}%</span>
                                                {% endif %}
                                                <a href="{{ product.get_absolute_url }}" class="custom-btn">
                                                    <div class="btn-icon"><i class="bi bi-cart-check"></i> detail
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <span class="category"><a href="shop-gridside.html">{{ product.brand }}</a></span>
                                                <h4 class="title">
                                                    <a href="product-details.html">{{ product.title }}</a>
                                                </h4>
                                                
                                                <div class="price">
                                                    <span>$275.00</span>
                                                    <span class="discount-price">$300.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Product -->
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="owl-nav">
                            <button type="button" role="presentation" class="owl-prev disabled"><i
                                    class="fa fa-chevron-left"></i></button>
                            <button type="button" role="presentation" class="owl-next"><i
                                    class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="owl-dots">
                            <button role="button" class="owl-dot active"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product -->
    </div>
    <script>
        function setReply(Id) {
            document.getElementById('parent_id').value = Id;
            window.location.href = '#reply';
        }
    </script>
{% endblock %}