<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'profile-page' %}" class="nav-link px-2 link-secondary">profile</a></li>
                <li><a href="{% url 'shopping-page' %}" class="nav-link px-2 link-body-emphasis">my shopping</a></li>
                <li><a href="{% url 'change-password-panel-page' %}" class="nav-link px-2 link-body-emphasis">change password</a></li>
                <li><a href="{% url 'edit-info-page' %}" class="nav-link px-2 link-body-emphasis">edit info</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                   {% if not request.user.avatar %}
                   	 <img src="/static/img/151998024.png" alt="mdo" width="42" height="42" class="rounded-circle">
                       {% else %}
                        <img src="{{ request.user.avatar.url }}" alt="mdo" width="42" height="42" class="rounded-circle">
                   {% endif %}
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout-page' %}">log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

