{% extends 'shared/layout.html' %}
{% load render_partial %}


{% block title %}
    edit information
{% endblock %}


{% block content %}
    <div>
        {% render_partial 'panel.views.sidebar_profile_component' %}
    </div>

    <div>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0 col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                       {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

