<!-- JQUERY LIBS -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<!-- popper-->
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<!-- BOOTSTRAP -->
<script type="text/javascript" src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- navigation -->
<script type="text/javascript" src="/static/js/navigation.js"></script>

<!-- flex-slider -->
<script type="text/javascript" src="/static/plugins/flex-slider/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/static/plugins/flex-slider/js/thumbs.js"></script>
<!-- owl -->
<script type="text/javascript" src="/static/plugins/owl/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/plugins/owl/slider.js"></script>
<!-- Count Down javascript -->
<script type="text/javascript" src="/static/plugins/jquery.countdown/jquery.plugin.min.js"></script>
<script type="text/javascript" src="/static/plugins/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/static/plugins/jquery.countdown/coming.soon.config.js"></script>
<!-- zoom -->
<script src="/static/js/jquery.elevatezoom.js"></script>
<script src="/static/js/zoom.js"></script>
<!-- scrollup-->
<script type="text/javascript" src="/static/js/scrollup.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<!-- CUSTOM-->
<script type="text/javascript" src="/static/js/custom.js"></script>
<!--[if lt IE 9]>
{#<script src="respond.js"></script>#}
{#<script src="html5shiv.js"></script>#}
<![endif]-->

