{% load render_partial %}

<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'shared/header-refrence.html' %}
</head>
<body>
<!-- Start Wraper -->
<div class="wrapper">
    <!-- Start Loader -->
{#    <div class="se-pre-con"></div>#}
    <!-- End Loader -->
    {% render_partial 'home.views.site_header_component' %}
    {% block content %}{% endblock %}
    {% render_partial 'home.views.site_footer_component' %}
</div>
<!-- End Wraper -->
{% include 'shared/footer-refrence.html' %}
</body>
</html>